DB_HOST=localhost
DB_PORT=5432
DB_NAME=gaming_profile
DB_USER=gamer
DB_PASSWORD=gamer_pass

PORT=3001

STEAM_API_KEY=tu_api_key_aqui
SESSION_SECRET=cambia_esto_en_produccion
FRONTEND_URL=http://localhost:3000
